.nav-link {
    color: black;
    font-weight: bold;
}























































/* .navbar {
     padding: 30px;
     
 }

 .pizza {
     font-size: 28px;
 }

 .ame_pizza {
     color: var(--redIsh);
     font-size: 22px;
     
 }

 .navbar a {
    color: var(--redIsh);
     font-size: 18px;
    
 }

 .navbar a:hover {
    color: var(white);
    transition: .4s;
 }

 @media screen and (max-width: 410px) {
     .ame_pizza {
         font-size: 12px;
     }

     .navbar a {
         font-size: 12px;
     }
      
 } */